.Perfil{
    display: flex;
    align-items: center;
}

.Informacoes{
    margin-bottom: 6%;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

.card h1 {
    text-align: center;
}
  
.card h6 {
    text-align: center;
}